  <div class="container-fluid">
  <div class="row">
      <div class="col-md-6">
          <img src="../../../assets/images/rec.jpg" height="100%" width="100%">
      </div>
      <div class="col-md-4 mt-3 mb-2">
          <h1 class="text-info text-center container"><b><strong>Connectez-vous</strong></b></h1>

          <form form [formGroup]="this.loginForm" >
              <div class="form-floating mb-3">
                <label for="floatingInput">Email </label>
                <div class="input-group mb-3">  
                  <span class="input-group-text"><i class="fa fa-envelope-o fa-fw"></i></span>
                  <input type="text" class="form-control" id="floatingInput" placeholder="Entrer l'email" name="email" formControlName="email">
              </div>
            </div>
                <div class="form-floating mb-3">
                  <label for="floatingPassword">Mot de passe</label>
                  <div class="input-group mb-3">  
                    <span class="input-group-text"><i class="fa fa-key fa-fw"></i></span>
                  <input type="password" class="form-control" id="floatingPassword" placeholder="Entrer le mot de passe" name="password" formControlName="password">
                </div>
              </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                  <button class="btn btn-info me-md-2" type="button" (click)="login()" >Connexion</button>
                </div>

                <a routerLink="/register" class="text-primary" style="text-decoration: none;">Créer un compte? </a>
          </form>
      </div>
      <div class="col-md-2">
      </div>
  </div>
</div>